/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.redondeado{
  padding:0px 10px 10px 10px;
  border-radius:25px;
  color:hsl(53,95%,50%);
}

#logoP{
  height: 60px;
  border: 2px;
}

.DJs{
  display: flex;
  width: 100%;
  height: auto;
}

.DJcatalogo{
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: .8;
  transition: .5 ease;
}

.DJcatalogo:hover{
  cursor: crosshair;
  width: 20%;
  opacity: 1;
  filter: contrast(120%);
}

.salones{
  width: 100%;
  
}

.pInicio{
  text-align: center;
  font-size: 120%;
}




#menuComidas{
  font-family: sans-serif;
  margin: auto;
  background-color: white;
  max-width: 800px;
  width: 100%;
  padding: 30px;
  box-sizing: border-box;
}

#menuComidas>ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

#menuComidas>ul.slider {
  position: relative;
  max-width: 800px;
  width: 100%;
  height: 300px;
}

#menuComidas>ul.slider h1 {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 10px;
  left: 50%;
  top: 100px;
  transform: translate(-50%, -50%);
  text-align: center;
}

#menuComidas>ul.slider li {
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
  width: inherit;
  height: inherit;
  transition: opacity .5s;
  background: #fff;
}

#menuComidas>ul.slider li img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

#menuComidas>ul.slider li:first-child {
  opacity: 1;

}

#menuComidas>ul.slider li:target {
  opacity: 1;

}

#menuComidas>.menu {
  text-align: center;
  margin: 20px;
}

#menuComidas>.menu li {
  display: inline-block;
  text-align: center;
}

#menuComidas>.menu li a {
  display: inline-block;
  color: white;
  text-decoration: none;
  background-color: grey;
  padding: 10px;
  width: 20px;
  height: 20px;
  font-size: 20px;
  border-radius: 100%;
}
.estiloMenus{
  border-radius: 20px;
  margin-bottom: 30px;
}

.containerModificar{
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
}